@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/fonts/Satoshi-Variable.woff') format('woff'),
    url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
    url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

/* Global Styles */
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

#___theSSHGuy {
  /* Create a stacking content for the React app to ensure
   * that any portals are always on top of other content.
   */
  isolation: isolate;
}

html,
body,
#___theSSHGuy {
  height: 100%;
  margin: 0;
}
